<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>home</mat-icon>
                        Home
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item href="#">
                        <i class="material-icons">dashboard</i>
                        Dashboard
                    </a>
                    
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>backup_table</mat-icon>
                        Cadastros
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item href="#">
                        <i class="material-icons">dashboard</i>
                        Dashboard
                    </a>
                    <a mat-list-item>
                        <i class="material-icons">straighten</i>
                        Unidades
                    </a>
                    <a mat-list-item>
                        <i class="material-icons">factory</i>
                        Fabricantes
                    </a>
                    <a mat-list-item>
                        <i class="material-icons">straighten</i>
                        Unidades
                    </a>
                    <a mat-list-item>
                        <i class="material-icons">factory</i>
                        Fabricantes
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>paid</mat-icon>
                        Financeiro
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        Testando !!!
    </mat-sidenav-content>
</mat-sidenav-container>
